---
import { SITE_TITLE } from '../../consts';
import HeaderLink from './Link.astro';
import Logo from '../../assets/logo.svg';
---

<header
  class="fixed w-[98.5vw] top-2 left-1/2 -translate-x-1/2 bg-accent-50 shadow-accent-500/30 shadow-xs border border-accent-500/10 rounded-2xl"
>
  <nav class="p-x-7 p-y-5 flex items-center justify-between">
    <a href="/" aria-label={SITE_TITLE}>
      <Logo width={125} />
    </a>
    <div class="flex items-center gap-8 text-lg">
      <HeaderLink href="/tastings">Dégustations</HeaderLink>
      <HeaderLink href="/travels">Voyages</HeaderLink>
      <HeaderLink href="/maps">Cartes</HeaderLink>
      <HeaderLink href="/photos">Photos</HeaderLink>
    </div>
    <button
      class="text-base bg-peat-500 border border-peat-600 text-peat-900 px-4 py-2 rounded-lg"
      >Contact</button
    >
  </nav>
</header>
